@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodapé.css");

:root {
    --cor-de-fundo: #a122eb;
    --branco: #c68be7;
    --laranja: #000000;
    --azul-degrade: linear-gradient(97.54deg, #33045a 35.49%, #3a034b2a 165.37%);
    --fonte-principal: "Poppins";
    --azul: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}